@import "tailwindcss";
@import "tw-animate-css";

:root {
  --angle: 0;
  --radius: 0.625rem;
  --background: #010d05;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  color: #fff;
}

.mobile-icon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.mobile-icon-animate .top {
  stroke-dasharray: 40 121;
}
.mobile-icon-animate .bottom {
  stroke-dasharray: 40 121;
}
.mobile-icon-animate.active .top {
  stroke-dashoffset: -102px;
}
.mobile-icon-animate.active .bottom {
  stroke-dashoffset: -102px;
}

.mobile-clip {
  clip-path: ellipse(0% 0% at 100% 0%);
  -webkit-clip-path: ellipse(0% 0% at 100% 0%);
  transition:
    clip-path 0.6s ease,
    -webkit-clip-path 0.6s ease;
}

.mobile-clip.active {
  clip-path: ellipse(100% 80% at 100% 0%);
  -webkit-clip-path: ellipse(100% 80% at 100% 0%);
}

.apply-btn {
  display: inline-block;
  position: relative;
  width: 216px;
  height: 64px;
  text-align: center;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.apply-btn-cnt {
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 2;
  height: 62px;
  width: 214px;
  border-radius: 12px;
  background: #010d05;
}
.apply-btn-cnt-center {
  width: 200px;
  height: 48px;
  background: linear-gradient(0deg, #9bff93 0%, #fcfeff 100%);
  border-radius: 12px;
  text-align: center;
  line-height: 48px;
}

.mask {
  position: absolute;
  height: 64px;
  width: 216px;
  background: conic-gradient(
    from var(--angle),
    #5f7f5d 0deg,
    rgba(1, 13, 5, 1) 180deg,
    rgba(95, 127, 93, 1) 360deg
  );
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 12px;
  animation: 3s rotateSpin linear infinite;
}

.apply-btn:hover .mask {
  filter: blur(3px);
}

@keyframes rotateSpin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome / Edge / Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.home-title {
  font-weight: bold;
  background: linear-gradient(188.2714136126083deg, #98ff90 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.home-submit {
  font-weight: 500;
  background: linear-gradient(188.2714136126083deg, #98ff90 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.color-text {
  background: linear-gradient(188.2714136126083deg, #98ff90 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg1 {
  background: linear-gradient(141deg, #ffffff 0%, #e7ffe7 100%);
  border-radius: 24px;
  border: 1px solid #a0ff99;
}
.bg2 {
  background: linear-gradient(180deg, #4bc777 0%, #012d12 100%);
  border-radius: 24px;
}
.bg3 {
  background: linear-gradient(0deg, #010d01 0%, #0f1e17 100%);
  border-radius: 24px 24px 0px 0px;
  backdrop-filter: blur(10px);
}
.bg4 {
  background: linear-gradient(0deg, #010d05 0%, #1b553a 100%);
  border-radius: 24px;
}
.home-second-line::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #8ed888 0%, #fcfeff 100%);
  border-radius: 100px;
}

.form-bg::after {
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  content: "";
  background: linear-gradient(
      134deg,
      rgba(127, 255, 161, 1),
      rgba(38, 72, 40, 1),
      rgba(184, 255, 195, 1)
    )
    1 1;
  border-radius: 24px;
  z-index: -1;
}
